# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- PyCharm / IntelliJ ---
.idea/
*.iml

# --- Flask / Web ---
instance/
.webassets-cache
.env
.flaskenv